body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #434344;
  color: #dadada;
  padding: 10px;
}

.iconContainer {
  background-color: #434344;
  display: flex;
}

.logo {
  background-color: #434344;
  height: 25px;
  border-radius: 100%;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.navImg {
  height: 25px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.subNav {
  text-align: center;
  font-size: 14px;
  color: rgb(29, 29, 31);
  background-color: #fbfbfd;
}

.sectionOne {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.sectionOneImg {
  width: 100%;
}

.sectionTwo {
  background-color: #fbfbfd;
  text-align: center;
}

.sectionTwoImg {
  width: 100%;
}

.noBold {
  font-weight: normal;
}

.sectionThree {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.sectionThreeImg {
  width: 100%;
}

.sectionFour {
  background-color: #fbfbfd;
  display: flex;
  margin: 15px 0;
}

.sectionFourImg {
  width: 100%;
  display: flex;
}

.sectionLight {
  text-align: center;
  background-color: #fbfbfd;
  color: black;
  width: 50%;
  margin-right: 10px;
}

.sectionDark {
  text-align: center;
  background-color: black;
  color: white;
  width: 50%;
  margin-left: 10px;
}

.right {
  margin-left: 0;
}

.sectionFive {
  background-color: #fbfbfd;
  display: flex;
  margin: 15px 0;
}

.sectionSix {
  display: flex;
  margin: 15px 0;
}

a {
  color: #06c;
  text-decoration: none;
  font-weight: 400px;
}
